body {
  font-family: sans-serif;
  line-height: 1.5;
  background: url("./img/6231375.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-main {
  background: url("./img/6231375.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
