.modal-content {
  width: 400px;
  background-color: #fff;
  padding: 30px;
  border-radius: 9px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.btn-ok {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-no {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #c43820;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-ok:hover {
  background-color: #5ce363;
}
.btn-no:hover {
  background-color: #f33210;
}
.txt {
  display: flex;
  align-items: center;
}
.icon {
  color: yellowgreen;
}
.btn-cont {
  display: flex;
  padding-top: 10px;
  gap: 30px;
}
